#sucheTaskID{:style => "display:none"}
  %legend
  erweiterte Optionen
    
  .control-group
    %label.control-label(for="inputUser")
      time_solved:
    .controls   
      .input-prepend
        %input#inputEmail.input-xlarge(name="profile[email]" type="email" placeholder="email@uni-potsdam.de"){:value => "#"}
 
