.hero-unit
  %h2 FreshUP Admin
  %p Admin Oberfläche für FreshUP
  #gamestate.well{:style => 'background-color:#FFFFFF;'}
    %h3 Neue externe Nachricht
    .well.form-inline
      %form{:action => url_for("external/news"), :method => "post"}
        %fieldset
        .controls
          %textarea#inputContent.input-xlarge(name="extern_news_text" rows="4" required="required" placeholder="" style="height:80px; width:95%;")
        %button{:type => :submit, :class => "btn"} abschicken

      %form{:action => url_for("external/news/delete"), :method => "post"}
        %button{:type => :submit, :class => "btn"} alle Nachrichten löschen
    -if news
      .well.form-inline
        %h3 externe Nachrichten
        -news_kind = "extanal"
        =partial :'/admin/show_news', :locals => {:news => news, :news_kind => news_kind}
