:javascript
  $(function($){
    $('a').tooltip();
  });
  
  

%ul.breadcrumb.hidden-phone
  %li
    %a{:href => url_for("/admin/home")} Home
    %span.divider /
  %li.active Spielkarteneinstellung
    
.page-header 
  %h1 
    Spielkarteneinstellung

.bg-white
  .row     
    .span3
      = partial :image_upload_modal, :locals => locals
      = partial :admin_connections
      
    .span9
      %form.form-horizontal(method="POST"){:action => url_for("/admin/Spielkarteneinstellung")}
        .control-group
          %label.control-label(for="Antworttyp")
            Wem soll die Karte zugeführt werden:
          .controls
            %input#gr{:name => "Antworttyp", :type => "radio", :value => "Gruppe", :style => "margin-bottom:5px"}
              %label{:style => "display:inline-block"} Gruppe  
            %input#sp{:name => "Antworttyp", :type => "radio", :value => "Spieler", :style => "margin-bottom:5px"}
              %label{:style => "display:inline-block"} Spieler
      
            
               
        .form-actions.bg-white      
          %button.btn.btn-primary.btn-large.btn-block-phone{:type => :submit} Weiter
          %a.btn.btn-large.btn-block-phone{:href=>url_for("/admin/home")} Abbrechen
  
